<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>
<body>
<div style="border:2px solid black;background-color:white;height:700px;width:500px;margin-left:auto;margin-right:auto;border-radius:20px;">
  <table style="width:100%;position:relative;table-layout: fixed;">
    <thead>
    <tr>
      <h1 style="text-align:center;">A task has been assigned to you!</h1>
      <img src="../images/graphPathLogo.png" alt="Could not find image." style="position:relative;width:100px;margin-left:200px;">
      <hr style="border:2px solid black;">
    </tr>
    <tr >
      <h3 style="text-align:center;">Log into Graph Path to get more information!</h3>
      <hr style="border:1px solid black;">
    </tr>
    </thead>

    <tbody style="text-align:center;font-size:20px;text-overflow:ellipsis;">
    <tr>
      <td style="padding:20px;"> Project Name:</td>
      <td style="padding:20px;word-wrap:break-word;"> {{projectName}}</td>
    </tr>
    <tr>
      <td style="padding:20px;"> Project Owner:</td>
      <td style="padding:20px;word-wrap:break-word;"> {{owner}} </td>
    </tr>
    <tr>
      <td style="padding:20px;"> Task Due date:</td>
      <td style="padding:20px;"> {{dueDate}} </td>
    </tr>
    <tr>
      <td style="padding:20px;"> Task Description:</td>
      <td style="padding:20px;word-wrap:break-word;"> {{description}} </td>
    </tr>

    <div style="position:relative;top:400px;left:215px;">
      <button onclick="window.location='https://www.google.com'" style="background-color:#ff9966;color:black;font-size:15px;border-radius:12px;border: 2px solid black;">Login</button>
    </div>
    </tbody>

  </table>
</div>


<!--<a href="http://localhost:9001/project/sendMail"> click me to redirect</a> -->


</body>
</html>