#node_modules for backend and frontend
1.Website/backend/src/node_modules
1.Website/frontend/node_modules

#package-lock files
1.Website/backend/src/package-lock.json
1.Website/frontend/package-lock.json
1.Website/frontend-v2/graph-path/package-lock.json

#vscode files
.vscode

#intelij
.idea
*.iml

#environment files
*.env

#build folders
1.Website/frontend/build

node_modules
node_modules
