<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
<div style="border:2px solid black;background-color:white;height:600px;width:500px;margin-left:auto;margin-right:auto;border-radius:20px;">
    <table style="width:100%;position:relative;table-layout: fixed;">
        <thead>
        <tr>
            <h1 style="text-align:center;">Welcome to graphPath !</h1>
            <img src="cid:graphPathLogo" alt="Could not find image." style="position:relative;width:100px;margin-left:200px;">
            <hr style="border:2px solid black;">
        </tr>
        <tr >
            <h3 style="text-align:center;">Log into Graph Path to get more information!</h3>
            <hr style="border:1px solid black;">
        </tr>
        </thead>

        <tbody style="text-align:center;font-size:20px;">
        <tr>
            <h3> Getting Started !</h3>
            <p> graph Path is the ultimate project Management tool.</p>
            <p> with graph path you can do :</p>
            <ol>
                <li>create a project </li>
                <li>invite members </li>
                <li>create custom access control</li>
                <li>represent project as interactive graph</li>
                <li>represent project as kanban board and so much more...</li>

            </ol>

        </tr>

        <div style="position:relative;top:300px;left:215px;">
            <a href="http://localhost:3000/" style="background-color:#ff9966;color:black;font-size:15px;border-radius:12px;border: 2px solid black;">Login</a>
        </div>
        </tbody>

    </table>
</div>


<!--<a href="http://localhost:9001/project/sendMail"> click me to redirect</a> -->


</body>
</html>