#projectView{
    position: relative;
}
.rs-nav-item>.rs-nav-item-content{
    color:#34c3ff;
}
#projectNav{
    max-width: 10%;
    float: right;
    background-color: rgba(29 ,26 ,36,0.1 ) ;
}

.not-started{
    color: #d01;
}

.in-prog{
    color: #ef1;
}

.complete{
    color: #5d1;
}

#dropdown-title{
    width: 147px;
}

#dropdown-div{
    position: absolute;
    top: 25%;
    border: 1px solid rgb(255,3,3);
    border-radius: 5px;
    width: 150px;
}

#dropdown-div-2{
    position: absolute;
    top: 32%;
    border: 1px solid rgb(234,135,27);
    border-radius: 5px;
    width: 150px;
}

#dropdown-div-3{
    position: absolute;
    top: 40%;
    border: 1px solid rgb(73,239,18);
    border-radius: 5px;
    width: 150px;
}

.dropdown-div-bar{
    top: 11% !important;

}

.dropdown-div-bar-2{
    top: 11% !important;
    left: 25% !important;

}

.dropdown-div-bar-3{
    top: 11% !important;
    right: 5% !important;
}

#open-card:hover{
    text-decoration: none;
}

#pop-btn{
    width: 120px;
}
