.main-container{
    background: green;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}
#content{
    display: flex;
    min-height: 92vh;
    background: #100f0f;
}

nav{
    background: #1a1d24;
    height: 60px;
    display: block;
    width: 100vw;
}

#nav-option:hover{
    background-color: #1386d9;
}

#sidebar{
    width: 18%;
    margin: 16px;
    background: #1a1d24;
}

#main-content{
    background: #1a1d24;
    width: 80%;
    margin: 16px 0 2px 0;
    padding: 16px;
     /*max-height: calc(90vh - calc(60px + 26px));*/
    max-height: 88vh;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #1386d9;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #05436c;
}