#graphbox {
    width: 90%;
    height: 75vh;

    /* background-color: rgb(200, 214, 228,0.8); */
    text-align:left ;
    border: solid ;
    margin: 1px;
}

#graph-info{
    display: flex ;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#graph-nav{
    text-align: end;
    margin: 3px;
}

/* canvas.sigma-scene{
    position: relative !important;
}
canvas.sigma-mouse{
    position: relative !important;
} */


.nodeView{
    font-size: unset;
    text-align: center;
}

.nodeView:hover{
    cursor:pointer ;
}

#help-bar{
    padding: 2px;
}

#help-bar > button{
    margin: 2px;
}

#help-tip{
    margin: 8px;
    position: relative;
    bottom: 100%;
}

.rs-help-block{
    color: black;
}
