#main-div{
    min-height: 50vh;
    background-color: transparent !important;
    position: relative;
}

#project-name h3{
    text-align: center !important;
}

#project-name{
    background-color: transparent;
    min-width: 20vw;
    max-height: 5vh;
    margin-left: 37%;
    position: absolute;
}

#can-do-div{
    max-width: 15vw;
    max-height: 30vh;
    /*background-color: blue;*/
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 3%;
    margin-left: 10%;
}

#check-list{
    max-width: 15vw;
    max-height: 19vh;
    overflow-y: scroll;
}

#project-information{
    background-color: transparent;
    min-height: 40vh;
    margin-top: 45px;
    text-align: left !important;
}

#second-div{
    background-color: transparent;
    margin-left: 30%;
    margin-top: 45px;
    position: relative;
}