
.GraphDashboard{
    display: flex;
    flex-direction: column; 
    background-color: #F00112;
    color: white;
    text-align: center;
    align-items: center;
  }

button{
  margin:2px 2px 2px 2px ; 
}