.DashboardMenu{
    background-color: #001122;
    color: white;
    left: 0px;
    width: 150px;
    min-height: 80vh;

    position: relative;

  }
.DashboardMenu *{
    margin: 2px 2px 2px 2px;
    
}
.App-link-routes {
    background-color: transparent;
    height: auto;
    position: relative;
    top: 10px;
    width: 100%;
}
button{
  margin:2px 2px 2px 2px ; 
}

.close{
    background-color: #9A0001;
}

.App-link-routes .opt {
    background-color: #04AA6D;
    padding-top: 2px;
    padding-bottom: 2px;
    height: auto;
    width: 85%;
    position: relative;
    left: 20px;
}

.App-link-routes .opt a {
    color: white;
    text-decoration: none;
}

.App-link-routes .opt:hover{
    cursor: pointer;
}

.App-link-routes .opt:hover {
    background-color: #0b714b;
}
.ContentArea{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 600px;
}
.GraphDashboard{
    display: flex;
    flex-wrap: wrap;   
}