
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 3px;

    border: none;
  }

  .UsernameDiv{
    position: relative;
  }
  .userName{
    color: white;
    position: relative;
    left: 25%;
    bottom: 2px;
  }

  #smileIcon{
    font-size: 21px;
    position: relative;
    top: 1px;
  }
  #powerBtn{
    color: white;
    position: relative;
    display: inline-block;
    margin: 1px 1px 1px 1px;
    float: right;
    right: 3%;
  }


  #powerBtn:hover{
    color: #990001;
    cursor: pointer;
  }
  .drop {
    position: relative;
    display: inline-block;
    margin: 1px 1px 1px 1px;
    float: right;
    right: 2%;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: fit-content;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  
.dropdown-content a:hover {background-color: #ddd;}

.drop:hover .dropdown-content {display: block;}


.drop:hover .dropbtn {background-color: #3e8e41;}

.project-alert-text{
  color: #990001;
}

.clickbtn:hover {
  cursor: pointer;
}

.icon{
  margin: 2px 5px;  
}

.react-spinner-material{
  position: absolute;
  background-color:green;
  z-index: 1000;
}