.DashboardMenu{
    background-color: #001122;
    color: white;
    left: 0px;
    width: 150px;
    min-height: 80vh;
    min-width: 15vw;
    position: relative;

  }
.DashboardMenu *{
    margin: 2px 2px 2px 2px;
    
}
.App-link-routes {
    background-color: transparent;
    height: auto;
    position: relative;
    top: 10px;
    width: 100%;
}
button{
  margin:2px 2px 2px 2px ; 
}

.close{
    background-color: #9A0001;
}

.App-link-routes .opt {
    background-color: #04AA6D;
    padding-top: 2px;
    padding-bottom: 2px;
    height: auto;
    width: 85%;
    position: relative;
    left: 20px;
}

.App-link-routes .opt a {
    color: white;
    text-decoration: none;
}

.App-link-routes .opt:hover{
    cursor: pointer;
}

.App-link-routes .opt:hover {
    background-color: #0b714b;
}
.ContentArea{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    max-width: 100vw;
    min-width: 70vw;
    padding: 2px 2px 2px 2px;
    margin-top: 2px;
}

.ContentArea > div{
    margin: 2px 2px 2px 2px;
    padding: 20px;
}

.GraphDashboard{
    display: flex;   
    flex-direction: row;
}

.imgContainer > img{
    max-width: 500px;
}