.DashboardMenu{
    background-color: #001122;
    color: white;
    left: 0;
    width: 16vw;
    min-height: 90vh;
    position: relative;
    font-size: small;

  }
.DashboardMenu *{
    margin: 2px 2px 2px 2px;
    
}
.App-link-routes {
    background-color: transparent;
    height: auto;
    position: relative;
    top: 10px;
    width: 100%;
    margin: 2px;
}
button{
  margin:2px 2px 2px 2px ; 
}

.App-link-routes .opt {
    background-color: #04AA6D;
    height: auto;
     padding: 10px;
    width: 200px;
    position: relative;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: bold;
}

.App-link-routes .opt a {
    color: white;
    text-decoration: none;
}

.App-link-routes .opt:hover{
    cursor: pointer;
}

.App-link-routes .opt:hover {
    background-color: #0b714b;
}
.ContentArea{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    min-width: 85vw;
    padding: 2px 2px 2px 2px;
    margin-top: 2px;
    flex-shrink: 3;
}

.ContentArea > div{
    margin: 2px 2px 2px 2px;
    padding: 2px;
}

.GraphDashboard{
    display: flex;   
    flex-direction: row;
}

.imgContainer > img{
    max-width: 500px;
}

.imgContainer {
    width: 100%;
    height: 100%;
}

.closeBtn {
    position: absolute;
    color: white;
    top:30px;
    left: 26px;
    font-size: 32px;
}

.closeBtn:hover{
    cursor: pointer;
}

.scrumBoard{
    z-index: -1000;
    margin-top: 100px;
}
