.GraphBox{
    display: flex;
    flex-direction: column;    
    max-width: 500px;
    position: relative;
    /* overflow: scroll; */
    text-align: left;
}

.projectView{
    min-width: min-content  ;
    text-align: left;
    
}

.projList{
    /* width: 400px; */
}
.project-content{
    background-color: rgba(00, 11,22, 0.3);
    margin: 1px;
}

#del-proj{
    color: red;
    margin-left: 30px;
}

#del-proj:hover{
    color: lightgreen;
    cursor: pointer;
}

.projList li::before{
  color: white;
}
