.profileContainer{

    position: relative;
    width: 100%;
}
*{
   /* outline: 1px solid red;*/
}

.info {
    width: 100%;

    float: right;
    position: relative;

}

.info h2 {

    text-align: left;
    padding-left: 20%;
    padding-bottom: 0;
    margin-bottom: 0;
}

.info p {
    color: grey;
    text-align: left;
    padding-left: 22%;
    padding-top: 0;
    margin-top: 0;

}

.info hr {
    width: 50%;
    border-bottom: 2px solid grey;
    margin-left: 20%;
    padding-top: 0;
    margin-top: 0;
}