.profileContainer{
    position: relative;
    width: 100%;
}
*{
   /* outline: 1px solid red;*/
}

.info {
    width: 100%;

    float: right;
    position: relative;

}

.profileForm input{
    width: 100%;

    border: none;
    border-bottom: 1px solid grey;
    height: 40px;
    padding-left: 3px;
    color: grey;
    font-size: 14px;
    outline: none;
}

.profileForm {
    background-color: white;
    margin-left: 25%;
    width: 50%;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}

.profileForm label{
    float: left;
    font-weight: bold;
}

.btn1{
    background-color: #04AA6D;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.btn1:hover {
    background-color: #0b714b;
}




