#project-form-div{
    background-color: transparent;
    position: relative;
    width: 100%;
    padding-left: 2%;
}

#project-form{
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    background-color: ghostwhite;
    border-radius: 8px;
    margin-top: 2%;
}

#project-form label{
    float: left;
    font-weight: bold;
}

#project-form input[type="text"]{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #f3dfdf;
    height: 40px;
    background-color: transparent;
    color: darkgrey;
}


#view-graph-div{
    background-color: #04AA6D;
    margin: 8px 100px;
    width: 28vw;
    z-index: 100;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

#view-graph-div a{
    text-decoration: none;
    color: white;
}

#div1{
    background-color: transparent;
    margin-top: 2%;
}

#div2{
    background-color: transparent;
}

#div3{
    background-color: #04AA6D;
    width: 28vw;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    margin: 8px 100px;
}

#view-div{
    background-color: transparent;
    display: inline-block;
    position: relative;
}

#userRemove{
    background-color: transparent;
    font-size: 20px;
    position: absolute;
    margin-left: 320px;
    bottom: 40px;
}

#userRemove:hover{
    color: red;
}

#userEdit{
    background-color: transparent;
    font-size: 20px;
    position: absolute;
    margin-left: 320px;
    bottom: 10px;
}

#userEdit:hover{
    color: #04AA6D;
}

#userAdd{
    background-color: transparent;
    font-size: 35px;
    position: absolute;
    margin-left: 150px;
}

#memberDiv{
    background-color: ghostwhite;
    position: relative;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#canvasBody{
    position: relative;
    padding-bottom: 70px;
    background-color: #b9fab9;
}

#canvasHeader{
    background-color: #001122;
    color: white;
}

.offcanvas-header .btn-close{
    background-color: white;
}

#main-view{
    display: flex;
}

#form-div{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 16px 100px;
}

#button-div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}