.TaskScreen{
    background-color: #001122;
    color: white;
    /* width: auto; */
    height: auto;
    /* position: relative; */
    /* left: 500px;
    top: 80px; */
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 20px;
}

.TaskScreen p{
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: bold;
}

.TaskScreen select{
    background-color: grey;
    width: 100%;
    appearance: none;
    overflow: hidden;
    outline: 0;
}

.TaskScreen select:hover{
    background-color: darkgrey;
}
.smallT{
    font-size: x-small;
}