#add-of-task-div{
    background-color: transparent;
    padding: 5px;
    width: 70vw;
    position: absolute;
    right: 0;
    top:500px
}

#member-button{
margin-top: 3%;
}

#newTS{
    max-width: 20vw !important;
    height: 30vh;
}

#nP{
    background-color: transparent !important;
    max-width: 20vw;
    margin: 16px;
}

#new-project-form{
    max-width: 100% !important;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    background-color: ghostwhite;
    border-radius: 8px;
    margin-top: 2%;
}

#new-project-form input[type="text"]{
    color: black !important;
}

#task-container{
    margin-top: 10px;
    background-color: transparent;
    display: flex;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
}